body {
    background-color: #E0E0E0 !important;
    margin: 0;
    padding: 0;
}

.Header {
    background-color: #252525;
    width: 100%;
    height: 12vh;
    color: white;
    display: flex;
    align-items: center;
}

.Title {
    font-size: 4vh;
    margin-left: 50%;
    transform: translateX(-50%);
    padding:  25px 0 0 0 ;
}

.logo {
    width: auto;
    padding-left: 40px;
}

.MapClass {
    justify-self: center;
    max-width: 80.7vw;
    width: 80.7vw;
    display: grid;
    grid-template-columns: repeat(4, 20.7%);
    gap: 60px;
    grid-auto-rows: minmax(100px, auto);
    -moz-column-gap: 5.7vw;
    column-gap: 5.7vw;
    margin: auto;
    margin-top: 40px;
    justify-content: center;
}

.button {
    display: block;
    padding: 10px 30px;
    border-radius: 100px;
    color: #fff;
    border: none;
    background: #1766DC;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: .3s ease all;
}

.button:hover {
    background: #555555;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*----------------------------------------------------------*/

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: white !important;
    border-radius: 50px;
    background-color: #888888;
}

.css-heg063-MuiTabs-flexContainer {
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex !important;
    background-color: #F8F6F0 !important;
    border-radius: 50px !important;
    width: fit-content;
}

.css-1aquho2-MuiTabs-indicator {
    width: 0 !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    color: black !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root:hover {
    background-color: #888888;
    border-radius: 50px;
}

.css-1ujnqem-MuiTabs-root {
    padding: 5vh 0 0 0;
}



/*--------------------------------------------------*/

/* .css-46bh2p-MuiCardContent-root {
    padding: 1px 16px 16px 16px !important;
} */

.status-success{
    background-color: #03C04A;
    height: 15px;
}

.status-problem{
    background-color: #c0031c;
    height: 15px;
}

.css-106c1u2-MuiBadge-badge{
    top: -5px !important;
    right: -10px !important;
}

/* .css-1c32n2y-MuiBadge-root {
    display: contents !important;
    padding: 0 0 0 16px !important;
} */